body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #CADCFC;
    color: 33c4ff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

h2 {
    text-align: center;
    color: 33c4ff;
}

h3 {
    color: 33c4ff;
}

p {
    color: 33c4ff;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.job {
    margin-bottom: 15px;
}

.education-container {
    display: flex; /* Align items horizontally */
    justify-content: space-between; /* Space between items */
    flex-wrap: wrap; /* Wrap items if the screen is narrow */
}

.education-item {
    margin-right: 20px; /* Space between items */
    flex: 1; /* Allows items to grow equally */
    min-width: 150px; /* Minimum width for each item */
	text-align: center; /* Center text within each item */
}


footer {
    text-align: center;
    margin-top: 20px;
}
